@media screen and (max-width : 576px)
{
    body
    {
        width: auto;
    }
    nav
    {
        flex-direction: column;
        gap: 50px;
        margin: 50px 20px;
        align-items: center;
    }
    nav h1
    {
        margin-left: 0px;
        padding-bottom: 0px;
    }
    nav ul
    {
        flex-direction: column;
        padding: 0px;
        margin-right: 0px;
    }
    nav ul li
    {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .banner
    {
        flex-direction: column-reverse;
    }
    .banner-image img
    {
        width: 100%;
        margin-left: 50px;
    }
    .banner-image .img1
    {
        top: 560px;
    }
    .banner-image .img2
    {
        width: 100%;
    }
    .banner-content h1
    {
        margin-left: 20px;
        margin-top: 10px;
        text-align: center;
    }
    .banner-content p
    {
        margin-left: 20px;
        text-align: center;
    }
    .banner-content button
    {
        margin-left: 100px;
    }
    .logo 
    {
        margin-top: 150px;
        flex-direction: column;
        gap: 50px;
        height: 100%;
        padding: 20px auto;
    }
    .product-container
    {
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
        margin: 50px auto;
    }
    .feature
    {
        flex-direction: column;
    }
    footer
    {
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:992px)
{
    body
    {
        width: auto;
    }
    nav
    {
        gap: 50px;
        margin: 50px 20px;
        align-items: center;
        justify-content: center;
    }
    nav h1
    {
        margin-left: 0px;
        padding-bottom: 20px;
    }
    nav ul
    {
        padding: 0px;
        padding-top: 25px;
        margin-right: 0px;
    }
    nav ul li
    {
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .banner
    {
        flex-direction: column-reverse;
    }
    .banner-image img
    {
        width: 100%;
        margin-left: 20%;
    }
    .banner-image .img1
    {
        top: 300px;
    }
    .banner-image .img2
    {
        width: 100%;
    }
    .logo 
    {
        margin-top: 150px;
        flex-direction: column;
        gap: 50px;
        height: 100%;
        padding: 20px auto;
    }
    .product-container
    {
        grid-template-columns: repeat(1 , 1fr);
        gap: 20px;
        margin: 50px 20%;
    }
    .feature
    {
        flex-direction: column;
    }
    footer
    {
        width: 100%;
    }
}
    
